# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/
.coverage
.coverage.*

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
.env.*
*.pem

# Database files
sports_app.db
*.sqlite3

# Logs
*.log

# Mac files
._*

# JetBrains
.idea/

# Node
node_modules/


commit.ps1
dast-scan bk.yml